In [ ]:
import tensorflow as tf
import pandas as pd

## 1. 데이터 준비

In [ ]:
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
보스턴 = pd.read_csv(파일경로)
print(보스턴.columns)
보스턴.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

## 독립변수, 종속변수 분리

In [ ]:
독립 = 보스턴[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio', 'b', 'lstat']]
종속 = 보스턴[['medv']]
print(독립.shape, 종속.shape)

(506, 13) (506, 1)

## 2. 모델 생성

In [ ]:
X = tf.keras.layers.Input(shape=[13])  # 독립변수 개수 13: 13개의 입력층 
Y = tf.keras.layers.Dense(1)(X)        # 종속변수 개수 1: 1개의 출력층(13개의 입력으로부터 1개의 출력을 만들어 내는 구조)
model = tf.keras.models.Model(X, Y)    # 모델 생성
model.compile(loss='mse')

### 퍼셉트론 모형: y = w1x1 + w2x2 + w3x3 +b
- 컴퓨터는 입력되는 데이터를 보고 이 모형의 w와 b를 찾는 것
  - w1,w2,w3: 가중치(weight)
  - b: 편향(bias)

### 독립변수 12개 종속변수 2개라면?
- 퍼셉트론 모형 1:  y1 = w1x1 + w2x2 ~ + w12x12 +b
- 퍼셉트론 모형 2:  y2 = w1x1 + w2x2 ~ + w12x12 +b
   - 퍼셉트론 2개가 병렬로 연결됨
   - 가중치의 개수: y1의 w 12개와 b 1개, y2dml w 12개와 b 1개로 총 26개

## 3. 모델 학습

In [ ]:
model.fit(독립, 종속, epochs=1000, verbose=0)  # 1000번 학습하고
model.fit(독립, 종속, epochs=10)               # 10번만 출력

Epoch 1/10
16/16 [==============================] - 0s 2ms/step - loss: 26.8241
Epoch 2/10
16/16 [==============================] - 0s 2ms/step - loss: 26.1690
Epoch 3/10
16/16 [==============================] - 0s 2ms/step - loss: 25.9391
Epoch 4/10
16/16 [==============================] - 0s 2ms/step - loss: 26.1175
Epoch 5/10
16/16 [==============================] - 0s 2ms/step - loss: 26.3230
Epoch 6/10
16/16 [==============================] - 0s 2ms/step - loss: 26.5756
Epoch 7/10
16/16 [==============================] - 0s 2ms/step - loss: 26.3530
Epoch 8/10
16/16 [==============================] - 0s 2ms/step - loss: 26.1752
Epoch 9/10
16/16 [==============================] - 0s 2ms/step - loss: 26.1660
Epoch 10/10
16/16 [==============================] - 0s 2ms/step - loss: 25.7057

## 4. 모델 예측

In [ ]:
# 독립변수 확인
print(model.predict(독립[5:10]))  # 모델을 이용하여 학습시킨 독립변수에 대해 얼마나 정확하게 정답을 예측하는지 확인
                                  # 현재 독립변수 shape을 보면 506개이므로 5~10번까지만 사용

[[27.231596]
 [22.424828]
 [19.439373]
 [10.842591]
 [19.052464]]

In [ ]:
# 종속변수 확인
print(종속[5:10])

   medv
5  28.7
6  22.9
7  27.1
8  16.5
9  18.9

#### 모델이 예측한 답은 27로 실제 정답 28과 근접하게 예측

## 모델의 수식 확인

In [ ]:
# 위에서 만든 모델이 어떤 수식을 나타내는지 확인
print(model.get_weights())

[array([[-0.08497578],
       [ 0.06984271],
       [-0.04837529],
       [ 3.2425272 ],
       [ 2.0839899 ],
       [ 4.0191584 ],
       [ 0.01836404],
       [-0.8215074 ],
       [ 0.1544183 ],
       [-0.008124  ],
       [-0.03703214],
       [ 0.01716591],
       [-0.5755071 ]], dtype=float32), array([2.7098472], dtype=float32)]

집값 = **-0.0877063** * x1 + **0.06811162** * x2 + **-0.05097916** * x3 +**3.161858** * x4 + **2.0610712** *  x5 + **4.1679783** * x6 + **0.01201626** * x7 + **-0.8541004** * x8 + **0.15478158** * x9 + **-0.01025803** *  x10 + **-0.07097264** * x11 + **0.01531505** * x12 + **-0.5631289** * x13 + **2.67773**