In [1]:
import tensorflow as tf
import pandas as pd

## 1. 데이터 준비

In [2]:
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
레모네이드 = pd.read_csv(파일경로)
레모네이드.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

## 종속변수, 독립변수 분리

In [3]:
독립 = 레모네이드[['온도']]
종속 = 레모네이드[['판매량']]
print(독립.shape, 종속.shape)

(6, 1) (6, 1)

## 2. 모델 생성

In [4]:
X = tf.keras.layers.Input(shape=[1])  # shape=[1]: 독립변수인 '온도'칼럼 1개
Y = tf.keras.layers.Dense(1)(X)       # Dense(1): 종속변수인 '판매량'칼럼 1개
model = tf.keras.models.Model(X, Y)   # X,Y넣어 모델 완성
model.compile(loss='mse')             # compile: 모델이 학습할 방법

## 3. 모델 학습

- loss부분은 학습이 얼마나 진행되었는지 알 수 있음
-  각 학습이 끝날때마다 그 시점의 모델이 얼마나 정답에 근접했는지 알 수 있는 지표
- loss = (예측한 '판매량' - 정답인 '판매량')^2의 평균
- 학습 횟수가 많아질수록 loss가 0에 가까워지고 학습이 잘 된 것

In [5]:
model.fit(독립, 종속, epochs=10)   # epochs: 학습할 횟수
# loss부분이 3498로 크게 나옴 -> 10번 학습한 모델이 정답을 맞추기에는 부족한 것

Epoch 1/10
1/1 [==============================] - 0s 1ms/step - loss: 3126.1907
Epoch 2/10
1/1 [==============================] - 0s 1ms/step - loss: 3117.8643
Epoch 3/10
1/1 [==============================] - 0s 916us/step - loss: 3111.8342
Epoch 4/10
1/1 [==============================] - 0s 1ms/step - loss: 3106.7920
Epoch 5/10
1/1 [==============================] - 0s 2ms/step - loss: 3102.3203
Epoch 6/10
1/1 [==============================] - 0s 2ms/step - loss: 3098.2266
Epoch 7/10
1/1 [==============================] - 0s 1ms/step - loss: 3094.4021
Epoch 8/10
1/1 [==============================] - 0s 1ms/step - loss: 3090.7810
Epoch 9/10
1/1 [==============================] - 0s 1ms/step - loss: 3087.3174
Epoch 10/10
1/1 [==============================] - 0s 2ms/step - loss: 3083.9802

In [6]:
model.fit(독립, 종속, epochs=10000, verbose=0)  # verbose=0: 10000번 학습시키면 출력물이 너무 많이 나오므로 나오지 않게끔 설정
model.fit(독립, 종속, epochs=10)  # 10000번 학습시킨 결과를 10개만 확인하기 위함

Epoch 1/10
1/1 [==============================] - 0s 1ms/step - loss: 2.0171e-04
Epoch 2/10
1/1 [==============================] - 0s 3ms/step - loss: 2.0172e-04
Epoch 3/10
1/1 [==============================] - 0s 2ms/step - loss: 2.0179e-04
Epoch 4/10
1/1 [==============================] - 0s 2ms/step - loss: 2.0179e-04
Epoch 5/10
1/1 [==============================] - 0s 1ms/step - loss: 2.0179e-04
Epoch 6/10
1/1 [==============================] - 0s 4ms/step - loss: 2.0184e-04
Epoch 7/10
1/1 [==============================] - 0s 2ms/step - loss: 2.0179e-04
Epoch 8/10
1/1 [==============================] - 0s 2ms/step - loss: 2.0162e-04
Epoch 9/10
1/1 [==============================] - 0s 2ms/step - loss: 2.0155e-04
Epoch 10/10
1/1 [==============================] - 0s 1ms/step - loss: 2.0141e-04

## 4. 모델 예측

In [7]:
print(model.predict(독립))  # 정답인 독립변수를 넣어 종속변수인 '판매량'과 같은 값이 나오는지 확인

[[40.02262 ]
 [42.0185  ]
 [44.01438 ]
 [46.01026 ]
 [48.00614 ]
 [50.002018]]

In [8]:
종속

   판매량
0   40
1   42
2   44
3   46
4   48
5   50

In [9]:
model.predict([[15]])  # 온도가 15도라면 몇 개의 레몬에이드를 준비해야 하는가?

array([[30.043222]], dtype=float32)